{% load myfilters %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  </head>
  <body style="background-color:powderblue  ;">
    <div class="container" style="position:absolute;top:10%;left:10%;">
    <h2 class="jumbotron text-center" style="background-image:linear-gradient(to bottom right,#43C6AC,#191654);">Change Password</h2>
    <div class="text-center">


    <form method="post">
        {% csrf_token %}


          {{form.as_p}}

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>
  </div>
  </body>
</html>
