<!-- <h1>Built-In Login Logout</h1> -->



{% load myfilters %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  </head>
  <body style="background-color:powderblue  ;">
    <div class="container" style="position:absolute;top:10%;left:10%;">
    <h2 class="jumbotron text-center" style="color:white;background-image:linear-gradient(to bottom right,#43C6AC,#191654);">Reset Password
    <p>We have sended you reset password link on your email. Please Check Your Email.</p></h2>
    <div class="text-center">

      <a href="{% url 'authenticate:login' %}">Back to Login Page</a>
    </div>
  </div>
  </body>
</html>
