<!-- <h1>Built-In Login Logout</h1> -->


{% load myfilters %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  </head>
  <body style="background-color:powderblue  ;">
    <div class="container text-center" style="position:absolute;top:10%;left:10%;">
    <h2 class="jumbotron text-center" style="background-image:linear-gradient(to bottom right,#43C6AC,#191654);">Hurray! Your password has been changed.</h2>
    <a href="{% url 'authenticate:login' %}"><h3>Click here to Login</h3></a>

  </div>
  </body>
</html>
